#wrap{
    width: 100%;
    height: auto;
}
.like{
    width: 3%;
    height: auto;
}
body{
    background-image: url("../images/background.jpg");
    margin: 0;
}
#titulo{
    background-color: white;
    text-align: center;
}
p{
    color: white;
}
ul{
    padding-left: 0%;
    width: 100%;
}
li{
    background-color: deepskyblue;
    width: 100%;
    padding-top: 1%;
    text-align: center;
    list-style-type: none;
    font-style: italic;
    font-size: 120%;
}
h2{
    text-align: center;
    color: white;
}
.plates{
    background-color: #1155CC;
    width: 100%;

}
.submit_comment{
    text-align: center;
    alignment: center;
    align-items: center;
}
.form_design{
    text-align: center;
}
 .accordion-toggle
 {
     cursor: pointer;
     color: white;
 }
.accordion-content {
    display: none;
}
.accordion-content.default {display: block;}