p {
    font-size: large;
    color: white;
}
li{
    color: white;
}

#div_favoritos {
    width: 400px;
    height: 300px;
    border: 1px solid black;
    background-color: azure;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
#favoritostable {
    background-color: azure;

}
h3{
    color: white;
    text-align: left;
}

#labels{
    padding-left: 30%;
}

#name-logo{
    width: 60%;
    height: auto;
    text-align: center;
    padding-left: 20%;
}

#myimage {
  width: 90%;
  height: auto;
  border: 1px solid black;
  background-color: lightgray;
  border-radius: 100%;
  text-align: center;
}



