#wrap{
    width: 100%;
    height: auto;
    background-color: #3b5998;
}
body{
    background-color: black;
}
#titulo{
    background-color: white;
    text-align: center;
}
p{
    color: white;
}
ul{
    padding-left: 0%;
    width: 100%;
}
li{
    background-color: #3b9c00;
    width: 100%;
    padding-top: 1%;
    text-align: center;
    list-style-type: none;
    font-style: italic;
    font-size: 120%;
}
#info_left{
    width: 100%;
    float: none;
    text-align: center;
}
#info_menu{
    width: 100%;
    float: none;
    text-align: center;
}