
#icons{
    float: right;
}
#profiletable {
    width: 100%;
    height: 90%;
    background-color: #FF8C00;
}
body{
    background-color: orange;
}
.profileimg_hobbies_color{

    border-radius: 2%;
    border-color: black;
}
.favorite{
 text-align: center;
}

.wid{
  width: 25%;
}
#filmesimg{
    width: 150px;
    height: auto;
    border: 1px solid black;
    background-color: lightgray;
}
#div_favoritos {
    width: 400px;
    height: 300px;
    border: 1px solid black;
    background-color: azure;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
#favoritostable {
    background-color: azure;

}
.link{
    font-style: italic;

}
#map{
  width: 400px;
  height: 200px;
  border: 1px solid black;
  background-color: lightgray;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

#labels{
    padding-left: 30%;
}

#profileimg {
  width: 200px;
  height: auto;
  border: 1px solid black;
  background-color: lightgray;
}
.movies_websites{
    padding-left: 40%;
}

p {
  font-size: large;
}
.iconsimg{
    width: 20px;
    height: auto;
}
#titulo{
    background-color: orange;
    border-color: orange;
    text-align: center;
}