#resume-pic{
    width:90px;
    height:90px;
}
#header{
    font-size: small;
    font-style: italic;
}
.topics{
    font-style: italic;
    text-align: center;
}

p{
    line-height: 10%;
}

#footer{
    font-size: small;
    font-style: italic;
}

#table_resume{
    background-color: white;
    width: 80%;
    height: 100%;
    border: 1px;
}
#wrap_table{
    padding-left: 20%;
}
body{
    background-color:#E0E0E0 ;
}
#icons{
 text-align:right;
}
.iconsimg{

    width: 17px;
    height: auto;

}
table, th, td {
    border: 1px solid black;
}
