#page{
    width: 50%;
    padding-left: 25%;
}
#signup-field{
    width: 100%;

}
#signup-form,#login-form,#logout-button{
    text-align: center;
}
.signup-login-div-buttons{
    width: 10%;
    height: auto;
    padding-left: 45%;
}
#facebook-login-div{
    width: 100%;
    height: auto;
}
#shop-cart-image{
    width: 70%;
    height:auto;
}
#facebook-login-image{
    width: 25%;
    padding-left: 25%;
    height:auto;
}

#logout-shop{
    padding-left: 140%;
    width: 10%;
    height: 10%;
}
