#project-container{
    width: 60%;
    padding-left: 20%;
}
h3{
    text-align: center;
}
p{
    text-align: justify;
}
li{
    color: white;
}
.projects-images{
    float: left;
    width: 40%;
    height: auto;
    padding-left: 6%;
    padding-bottom: 2%;
}
#kamona-picture{
    width: 100%;
    height:auto;
}
