#resume-pic{
    width:10%;
    height:10%;
}
.topics{
    font-style: italic;
    text-align: center;
}

#footer{
    font-size: small;
    font-style: italic;
}

li{
    color: white;
}
a{
    color: white;
}
