#art_hobbies_movies{
    float: left;
    width: 25%;
    padding-top: 3%;
}
h3{
    color: white;
}
p{
    font-size: 100%;
}
html, body {
    height: 100%;
}
#section_picture{
    float: left;
    width: 25%;
}
#section_name_title{
    float:left;
    width:50%;
}
#section_movies{
    float: left;
    width: 25%;
}

.iconsimg{
    width: 1.5%;
    height: auto;
}

footer{
    color: white;
    position: relative;
    background-color: black;
    width:100%;
    text-align: center;
    font-style: italic;
    float: left;
}
footer, .wrapper:after {
    height: 13%;
}
.wrapper {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -6.4%;
}
.wrapper:after {
    content: "";
    display: block;
}

#icons{
    text-align: center;
}
body{
    background-image: url("../images/background.jpg");
    margin: 0;
}

.link{
    font-style: italic;

}

#naveUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    border: rgb(37,37,37);
}

.naveLI {
    float: right;
}

.naveLI a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#media{
    width: 100%;
    padding-top: 5%;
    height: auto;
    padding-left: 0%;
}
video{
    width: 30%;
    height: auto;
}
#videos{
    float: left;
    width: 50%;
}
#audios{
    float: left;
    width: 50%;
    padding-top: 10%;
}
a:hover:not(.active) {
    background-color: deepskyblue;
}
#nameTitle{
    color: white;
}
.active {
    background-color:deepskyblue;
}
p{
    color: white;
}
#header_{
    width: 100%;
    height: auto;
    text-align: center;
}
#activities{
    padding-left:10% ;
    float: left;
    width: 40%;
    height: auto;
}
#left{
    padding-left: 5%;
    float: left;
    width: 40%;
    height: auto;
}

#textarea{
    float: left;
    width: 80%;
    padding-top: 10%;
}
#infos{
    float: left;
}
.info_box{
    padding-top: 0.006%;
}
@media only screen and (max-width: 800px) {
    #header_{
        width: 100%;
        height: auto;
        text-align: center;
    }
    #activities{
        padding-left:0% ;
        float: none;
        width: 100%;
        height: auto;
    }
    #left{
        padding-left: 0%;
        float: none;
        width: 100%;
        height: auto;
    }
    #naveUL {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        background-color: rgb(0,0,0);
        border: rgb(37,37,37);
        position: relative;
        overflow: auto;
    }

    .naveLI a {
        display: block;
        color: white;
        padding: 8px 0 8px 16px;
        text-decoration: none;
    }

    .naveLI {
        text-align: center;
        float: none;
    }
    #section_picture{
        float: none;
        width: 100%;
    }
    #section_name_title{
        float:none;
        width:100%;
    }
    #section_movies{
        float: none;
        width: 100%;
    }
    p{
        word-wrap: break-word;
        font-size: 75%;
    }
    .iconsimg{
        width: 5%;
        height: auto;
    }
    #art_hobbies_movies{
        float: none;
        width: 60%;
        padding-left: 20%;
    }
    #media{
        width: 100%;
        height: auto;
        padding-left: 25%;
    }
    video{
        width: 100%;
        height: auto;
    }
    #videos{
        float: none;
    }
    #audios{
        float: none;
        padding-top: 1%;
    }
    #submit_button{
        text-align: center;
    }

    #textarea{
        float: none;
        width: 90%;
    }
    #infos{
        float: left;
    }

    #project-container{
        width: 90%;
        padding-left: 5%;
    }

    .projects-images{
        float: none;
        width: 90%;
        height: auto;
        padding-left: 5%;
    }

}