#profiletable {
    width: 100%;
    height: 90%;
    background-color: rgb(0,0,0);}

.profileimg_hobbies_color{

    border-radius: 2%;
    border-color: black;
}
p {
    font-size: large;
    color: white;
}
li{
    color: white;
}
*{
    overflow: hidden;
}

#filmesimg{
    width: 150px;
    height: auto;
    border: 1px solid black;
    background-color: lightgray;
}
#div_favoritos {
    width: 400px;
    height: 300px;
    border: 1px solid black;
    background-color: azure;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
#favoritostable {
    background-color: azure;

}

#map{
  width: 400px;
  height: 200px;
  border: 1px solid black;
  background-color: lightgray;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

#labels{
    padding-left: 30%;
}

#profileimg {
  width: 200px;
  content:url("../images/bw-image.png");
  ontent:url("../images/bw-image.png");
  height: auto;
  border: 1px solid black;
  background-color: lightgray;
  border-radius: 100%;
}



