#art_hobbies_movies{
    float: left;
    width: 25%;
    padding-top: 3%;
}
h3{
    color: white;
}
#section_picture{
    float: left;
    width: 25%;
}
#section_name_title{
    float:left;
    width:50%;
}
#section_movies{
    float: left;
    width: 25%;
}
#content{
    width: 100%;
}

.iconsimg{
    width: 20px;
    height: auto;
}

footer{
    color: white;
    bottom: 0%;
    background-color: black;
    position: fixed;
    padding: 0 10px 0 10px;
    width:100%;
    height:80px;
    text-align: center;
    font-style: italic;
}


header{
    background-color: rgb(37,37,37);

}
#icons{
    text-align: center;
}
body{
    background-image: url("../images/background.jpg");
}

.link{
    font-style: italic;

}

#naveUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    border: rgb(37,37,37);
}

.naveLI {
    float: right;
}

.naveLI a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: deepskyblue;
}
#nameTitle{
    color: white;
}
.active {
    background-color:deepskyblue;
}